$primary-dark: #D5FFC2;
@import "bulma/bulma.sass";

.bg-img { 
    background-image: url(banner.jpg);
    background-position: center -100px;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  100% auto;
    background-color: #999;
 }

.logo {
    position: fixed;
    top: 100px;
    left: 50px;
    z-index: 254;
 }

.releases {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.release-box {
   box-shadow: 8px 8px 5px #888;
   padding: 8px 12px;
   margin: 24px;
   border-radius: 20px;
 }

.cover-image {
   border-radius: 10px;
}