{{ define "content"}}

    <div class="logo image is-128x128">
        <img class="is-rounded" src="spidercat.jpg">
    </div>

    <section class="hero is-large is-dark">
        <div class="hero-body bg-img">
            <p class="title">{{ .Page.Title }}</p>
            <p class="subtitle">We live on a farm and make epic rock music</p>
        </div>
    </section>


    <section class="section">
        <div class="container">
                <div class="content">
                    {{ partial "home-content.md" . | markdownify }}
                </div>
                <div class="releases">

                    {{ range where .Site.RegularPages "Section" "posts" }}

                    <div class="release-box">
                        <div>
                            <p class="title is-5">
                                <a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a>
                            </p>
                        </div>
                        <p>
                            {{ .Date.Format "Jan 2, 2006" }}
                        </p>
                        <div class="cover-image">
                            <a href="{{ .Permalink }}">
                                <img src="img/{{ .Params.cover }}" alt="{{ .Title }} cover image" />
                            </a>                    
                        </div>
                    </div>

                    {{ end }}
                </div>
        </div>
    </section>

{{ end }}