{{ define "content"}}

    <div class="logo image is-128x128">
        <img class="is-rounded" src="spidercat.jpg">
    </div>

    <section class="hero is-large is-dark">
        <div class="hero-body bg-img">
            <p class="title">{{ .Page.Title }}</p>
            <p class="subtitle">We live on a farm and make epic rock music</p>
        </div>
    </section>


    <section class="section">
        <div class="container">
                <div class="block">
                    <p>Lots of cool stuff coming soon!</p>
                </div>
                <ul>
                    {{ range where .Site.RegularPages "Section" "posts" }}
                    <li>{{ .Date.Format "Jan 2, 2006" }} <a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a></li>
                    {{ end }}
                </ul>
        </div>
    </section>

{{ end }}