{{ define "content"}}

<section class="hero is-large is-dark">
    <div class="hero-body bg-img">
        <p class="title">{{ .Page.Title }}</p>
        <p class="subtitle">We live on a farm and make epic rock music</p>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="content">
            {{ partial "home-content.md" . | markdownify }}
        </div>
{{ range $index, $val := where .Site.RegularPages "Section" "posts" }}
    {{ if eq (mod $index 3) 0 }}
        <div class="tile is-ancestor">
    {{ end }}
            <div class="tile is-parent">
                <a href="{{ .Permalink }}">
                    <article class="tile is-child notification is-dark">
                        <p class="title">{{ .Title }}</p>
                        <p class="subtitle">{{ .Date.Format "jan 2, 2006" }}</p>
                        <figure class="image is-3by3">
                            <img src="img/{{ .Params.cover }}" alt="{{ .Title }} cover image" />
                        </figure>
                    </article>
                </a>
            </div>
    {{ if eq (mod $index 3) 2 }}
        </div>
    {{ end }}
{{ end }}
    </div>
</section>

{{ end }}